.navbar {
  height: 70px;
  background-color: #111827;
  color: white;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 40px;
}

.logo {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
  cursor: pointer;
}

.nav-links li {
  transition: 0.3s ease;
}

.nav-links li:hover {
  color: #38bdf8;
}

.profile .avatar {
  width: 40px;
  height: 40px;
  background-color: #38bdf8;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: bold;
  color: black;
}
